.locationSearch {
	--search-form-height: 40px;
	display: flex;
    flex-direction: column;
	width: 80vw;
}

.searchForm {
	height: var(--search-form-height);
	display: flex;
	align-items: center;
}

.searchInput {
	border: none;
	border-radius: calc(var(--search-form-height) / 2);
	padding: calc(var(--search-form-height) / 2);
	height: 100%;
	outline: none;
	width: 100%;
}
.searchInput:focus {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.searchInput, .suggesstionList {
	box-shadow: 1px 2px 2px 0px #919191;
	font-size: 16px;
}

.searchForm > button {
	background-color: dodgerblue;
	border: none;
	border-radius: calc(var(--search-form-height) / 2);
	height: calc(0.9 * var(--search-form-height));
	width: calc(0.9 * var(--search-form-height));
	outline: none;
	margin-left: calc(0px - var(--search-form-height));
}
.searchForm > button > img {
	margin-top: 8%;
	height: 60%;
	width: 60%;
}

.suggesstionList {
	background-color: white;
	padding: 10px 0;
	width: 100%;
}
.suggesstionList > hr {
	border: 0.5px solid #e0e0e0;
	margin: -10px 5px 5px 5px;
}
.suggesstionList > div > p {
	padding: 10px calc(var(--search-form-height) / 2);
	margin: 0;
}
.suggesstionList > div > p:hover {
	background-color: #d8f2ff;
}
